body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f3f4f6;
}

#root {
    height: 100%;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    height: calc(100% - 100px); /* Subtracting margins */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

.button {
    padding: 10px 15px;
    background-color: #2C3E50;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #34495e;
}

