.gradient-1 {
  background: #818589;
  background: -webkit-linear-gradient(to right, #818589, #343e46, #36454F);
  background: linear-gradient(to right, #818589, #475c72, #36454F);
  }
  
  @media (min-width: 800px) {
    .gradient-form {
    height: 116vh !important;
      }
  }

  @media (min-width: 800px) {
    .gradient-1 {
      border-top-right-radius: .3rem;
      border-bottom-right-radius: .3rem;
    }
  }