.icons {
    position: absolute;
    top: 50%;
    padding: 0 9%;
    transform: translateY(-50%);
}

.icons i {
    display: block;
    margin: 26px 0;
    font-size: 24px;
    color: white;
    transition: all 0.50s ease;
}

.icons i:hover {
    color: #b79d86;
    transform: translateY(-5px);
}
